.swipeButtons {
    position: fixed;
    bottom: 2vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.swipeButtons .MuiIconButton-root {
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3);
}
.swipeButtons__repeat {
    padding: 2vw;
    color: #577fc0;
}
.swipeButtons__close {
    padding: 2vw;
    color: #577fc0;
}
.swipeButtons__star {
    padding: 2vw;
    color: #577fc0;
}
.swipeButtons__fave {
    padding: 2vw;
    color: #577fc0;;
}
.swipeButtons__flash {
    padding: 2vw;
    color: #577fc0;
}
